.image-library-page {

	.press-image {
		position: relative;
		margin-bottom: 5px;
		height: 200px;
		overflow: hidden;
		
		
		a {
			max-height: 200px;
			overflow:hidden;
			display:block;
			border: none !important;
			
			
		}
		img {
			height: auto;
			width: 100%;
			
		}
		
		&:hover {
			> .overlay {
			    background: $red;
			}
		}
	}

	.overlay {
		position: absolute;
	    bottom: 0;
	    background: rgba(0,0,0,.75);
	    color:white;
	    font-size: 25px;
    	padding: 10px 17px;
    	cursor:pointer;
	}

	.caption {
		font-style: italic;

		strong {
			color:#aaa;
		}
	}

	hr {
		margin-bottom:50px;
	}

	.filter-row {
		margin-bottom:35px;

		select {
			width:240px;
		}

		.form-group {
			display: inline-block;
		}
	}
	
	
}

.press-item-li {
	margin-bottom: auto !important;
    padding-bottom: initial !important;
    min-height: 295px;

    @media screen and ($screen-xs) {
        min-height: auto;
    }
}
