.listview-page {
	ul {
		li {
			margin-bottom: 65px;
		}
	}
	p {
		&.sub-headline {
			margin-bottom:10px;
		}
	}

	h2 {
		margin-top: 0px;
		@include screen-ltmd {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	
}