.user-login-form {
	width: 500px;
    margin: 80px auto;
    background: #4c555c;
    padding: 20px 40px 40px;
    border: 1px solid rgba(0,0,0,.2);
    
    .description {
	    color: white;
    }
    
    .js-form-item {
	    margin: 20px 0;
	    
	    input[type="text"] {
		    padding: 10px !important;
			width: 100% !important;
	    }
	    
	    input[type="password"] {
		    padding: 10px !important;
			width: 100% !important;
			background: #ffffff;
		    border-radius: 0px;
		    padding: 20px 15px;
		    border: 0px;
		    border-bottom: 2px solid #dcdbdb;
		    font-style: italic;
		    font-weight: 300;
	    }
    }
    
    .js-form-submit {
		display: inline-block;
	    padding: 6px 12px;
	    margin-bottom: 0;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1.42857143;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-image: none;
	    border: 1px solid transparent;
	    border-radius: 4px;
	    
	    color: #FFF;
	    background-color: #DB322B;
	    border-color: #DB322B;
	    text-transform: uppercase;
	    border-radius: 0px;
	    font-size: 14px;
	    font-weight: bold;
	    transition: 0.5s all;
	    border: none !important;
	    
	    &:hover {
		    color: #DB322B;
			background-color: #FFF;
			border-color: #FFF;
	    }
	  
    }    
}

