@media ($screen-xl) {
	
	.hero-section {
		h1 {
    		font-size:96px !important;
    	}
	}
	
	.calendar {
		.month-name {
			
			&.top {
				top:-35px !important;
			}
		}	
	}
	
	.acttractions-section {
		#prison-wrap {
			width: 145%;
		}	
	}
	
}

@media ($screen-lg) {
	
	.hero-section {
		
		h1 {
    		font-size:96px !important;
    	}
	}
	
	.calendar {
		.month-name {
			
			&.top {
				top:-35px !important;
			}
		}	
	}
	
	.acttractions-section {
		#prison-wrap {
			width: 125%;
		}	
	}
}

@media ($screen-sm) {
	
	.navbar-logo {
	    top:15px !important;
	}

	main {
		.container-fluid {
			padding:0;
		}
	}
	
	.show-site-switcher {
		display: none !important;
	}
	
	.watch-preview {
		margin-left: 25px;
	}
	
	.calendar {
		.month-name {
			font-size:14px !important;
		}	
	}
	
	p {
		font-size:20px !important;
	}
	#navbar {
		display:none !important;
	}

	.navbar-toggle {
		display:block;
	}

	.hero-section {

		.jumbotron {
			padding: 100px 35px 0px 35px !important;
			height:700px;
			h1 {
				font-size: 60px;
			    line-height: 65px;
			    text-align:center;
			}

			p {
				text-align:center;
			}
		}
	}

	.mainpage-tagline {
		
		span {
			display:inline-block;
			margin-bottom:10px;
		}
	}

	.acttractions-section {
		.jumbotron {
		    padding: 30px 35px !important;

		    h2 {
		    	font-size:32px;
		    	margin:0px;
		    }

		    p {
		    	font-size:20px;
		    }
		}
		
		#prison-wrap {
			width: 115%;
		}
	}
}

@media ($screen-xs) {
	
	
	.navbar {
		padding: 0px;
	}
	
	.navbar-toggle {
		margin-top: 15px;
	}
	
	.navbar-logo {
	    top:15px !important;
	}
	
	.main-content-subpages {
		margin-bottom: 0px !important;
	}

	
	.show-site-switcher {
		display: none !important;
	}
	
	
	.acttractions-section {
		.jumbotron {
		    padding: 20px 35px !important;
		}
	}
	
	.watch-preview {
		margin-left: 0px;
	}

	.hero-section {

		.jumbotron {
			padding: 60px 35px 20px 35px !important;
			height:600px;

			h1 {
				font-size: 54px;
			    line-height: 55px;
			    text-align: center;
			}

			p {
				text-align:center;

				a {
					margin-bottom:20px;
					display:inline-block;
				}

				.btn-big {
					width:90%;
					padding:13px !important;
				}
			}
			
			 .btn-big {
				 font-size: 16px !important;
			 }
		}
	}

	.mainpage-tagline {
		padding-right:35px;
		padding-left:35px;

		span {
			font-size:20px;
			display:inline-block;
			margin-bottom:10px;
		}

		label {
			font-size:11px !important;
		}

	}

	.acttractions-section {
		p {
			margin-bottom:30px !important;
		}
		
		h2 {
			font-size:25px !important;
			line-height:35px !important;
		}

		.jumbotron {
			height:700px;
			.btn-big {
				font-size: 12px !important;
			    padding: 15px !important;
			    width: 65%;
			}

			#prison-wrap {
			    width: 100%;
			    margin: 50px auto 0;
			}
		}
	}

	.mainpage-details-section {
		.sub-detail {
			padding: 35px 25px;
			min-height:225px !important;

			h2 {
				margin:0px !important;
				margin-bottom:20px !important;
				font-size: 24px !important;
			}

			p {
				line-height:30px;
			}
		}
	} 

	ul {
		&.social-icons {
			li {
				.fa-2x {
					font-size:1.3em !important;;
				}
			}
		}
	}

	footer { 
		
		.input-group {
			width: 102% !important;
		}
		
		.footer-detail {
			padding:35px !important;
		}
		
		.map-image {
			height: auto !important;
		}
		
		.newsletter-signup {
			height: auto !important;
		}
	}
	
	.calendar {
		.month-name {
			font-size:12px !important;
		}	
	}
	
	.image-library-page {
		
		.filter-row {
			
			select {
				width: 100%;			
			}
		}
	}
	
	h1 {
		font-size: 24px;
	}
	
	.navbar-logo {
		left: 10px;	
		top:10px;
		
		img {
			height: 45px;
		}
	}
}

@media ($screen-xxs) {
	
	.navbar {
		padding: 0px;
	}
	
	.navbar-toggle {
		margin-top: 15px;
	}
	
	.main-content-subpages {
		margin-bottom: 0px !important;
	}
	
	.show-site-switcher {
		display: none !important;
	}
	
	.calendar {
		.month-name {
			font-size:10px !important;
		}	
	}
	
	.watch-preview {
		margin-left: 0px;
	}
	
	.image-library-page {
		
		.filter-row {
			
			select {
				width: 100%;			
			}
		}
	}
	
	.hero-section {

		.jumbotron {
			h1 {
				font-size: 54px;
			}

			 .btn-big {
				 font-size: 16px !important;
			 }
		}
	}
	
	.mainpage-details-section {
		
		.sub-detail {
			h2 {
				font-size: 24px !important;
			}
			
			padding: 35px 30px;
		}
	}
	
	.acttractions-section {
		.jumbotron {
			height: 680px;
			
			#prison-wrap {
			    width: 150%;
			    margin: 50px auto 0;
			    margin-left: -60px;
			}
		}
	}

	h1 {
		font-size: 20px;
	}
	
	footer { 
		.map-image {
			height: auto !important;
		}
		
		.newsletter-signup {
			height: auto !important;
		}
		
		.input-group {
			width: 102% !important;
		}
		
	}
	
	.navbar-logo {
		left: 10px;	
		top:10px;
		
		img {
			height: 45px;
		}
	}
}