.press-page {
	ul {
		li {
			margin-bottom: 65px;
		}
	}

	.caption {
		font-style:italic;

		strong {
			color:#aaa;
		}
	}
	p {
		&.sub-headline {
			margin-bottom:10px;
		}

		&.press-release-detail {
			color: #aaa;

			strong {
				color:#FFF;
			}
		}
	}

	h2 {
		color:white;
		font-weight:bold;
		@include screen-ltmd {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		
		a {
			color:white;
			
			&:hover {
				color: $red;
				text-decoration: none;
			}
		}
	}

	.main-item {
		margin-bottom:70px; 

		p {
			margin-bottom:5px;
		}
	}

	.other-items {
		margin-top:50px;
	}
	
	.press-items {
		a {
			color:white;
			
			&:hover {
				color: $red;
				text-decoration: none;
			}
		}
	}

}

.press-release-page {
	ul {
		li {
			margin-bottom: 65px;
		}
	}

	.caption {
		font-style:italic;

		strong {
			color:#aaa;
		}
	}
	p {
		&.sub-headline {
			margin-bottom:10px;
		}

		&.press-release-detail {
			color: #aaa;

			strong {
				color:white;
			}
		}
	}

	h2 {
		margin-top:0px;
		font-weight:bold;
		color:white;
	}

	.press-image {
		position: relative;
		margin-bottom:25px;
		
		.img-responsive {
			height: 360px;
			width: 100%;
		}
		
		a {
			border-image: none;
		}
	}

	.overlay {
		position: absolute;
	    bottom: 0;
	    background: rgba(0,0,0,.75);
	    color:white;
	    font-size: 25px;
    	padding: 10px 17px;
    	cursor:pointer;
	}

	.download-press-release {
		float: right;
    	margin: 0 20px 20px;

		.btn {
			font-size:20px;
			font-weight:bold;
			padding:20px 30px;
			border-radius:0px;
		}
	}
}

.press-contacts-container {
	border-top: 1px solid grey;
	margin-top: 30px;
	padding-top: 30px;
	.col-md-4 {
		padding-right: 100px;
	}
	h3 {
		color: #ffffff;
		font-weight: 300;
		margin-top: 0px;
	}
	h4 {
		color: #ffffff;
		letter-spacing: 1px;
		margin-top: 0px;
	}
	a {
		letter-spacing: 1px;
	    border-bottom: 5px solid transparent !important;
		border-image: url(../../assets/icons/icon-underline.svg) 0 0 3 0 repeat !important;
		text-decoration: none;
	}
	
	h6 {
		text-transform: uppercase;
		color: #aeb1bb;
		font-weight: bold;
		letter-spacing: 2px;
		line-height: 1.8;
	}
	
}