/////


			.calendar {
				color: #fff;
			}

			.calendar .darkGreen {
				background-color: rgb(81, 154, 81);
			}

			.calendar .lightGreen {
				background-color: rgb(159, 182, 74);
			}

			.calendar .yellow {
				background-color: rgb(230, 215, 55);
			}

			.calendar .orange {
				background-color: rgb(232, 149, 71);
			}

			.calendar .red {
				background-color: rgb(219, 50, 44);
			}

			.calendar table {
				width: 100%;
				table-layout:fixed;
			}

			.calendar td {
				padding: 7.02%;
				border: solid 1px transparent;
				background: rgb(59, 60, 65);
				position: relative;
				cursor: pointer;
				z-index: 1;
			}

			.calendar td.active {
				transform: translateY(-5px); 
			}
			
			.calendar td .price {
				position: absolute;
				bottom: 5px;
				right: 7px;
			}

			.calendar td .number {
				font-size: 24px;
			}
			
			.calendar td.active .day-number {
				font-size: 30px;
			}

			.calendar td .dollars {
				font-size: 20px;
			}

			.calendar td .number,
			.calendar td .dollars {
				vertical-align: top;
			}

			.calendar .padding-td {
				background: none;	
				cursor: default;	
				z-index: -1000;		
			}

			.calendar .not-colored {
				color: rgb(85, 85, 89);
			}

			.calendar td .day-number {
				position: absolute;
				text-align: center;
				top: 20px;
				left: 20px;
				font-size: 22px;
			}

			.calendar .month {
				position: relative;
			}
			
			.calendar .month-name.top {
				top: -25px;
			}
			
			.calendar .month-name.bottom {
				top: 30px;
			}
			
			.schedule .calendar .month:nth-child(2) {
			    top:65px;
			}
			
			 .schedule .calendar .month:nth-child(3) {
			 }

			.calendar .month-name {
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 2px;
				position: absolute;
				left: 0;
			}

			.calendar .month-name.top {
				top: -25px;
			}

			.calendar .month-name.bottom {
				top: 85px;
			}

			.calendar .days-name {
				width: 100%;
			}

			.calendar .days-name .day {
				width: calc(14.28% - 1.83px);
				padding: 10px 0;
				text-align: center;
				background-color: #949599;
				float: left;
				margin: 1px;
				margin-bottom: 60px;
				text-transform: uppercase;
				font-weight: bold;
			}

			.calendar .days-name .day:first-child {
				margin-left: 0;
			}

			.calendar .days-name .day:last-child {
				margin-right: 0;
			}

			.calendar .colors-boxes .box {
				width: calc(20% - 4.8px);
				margin: 0 3px;
				float: left;
				text-align: center;
				margin-bottom: 30px;
			}

			.calendar .colors-boxes .box .top {
				padding: 15px;
			}

			.calendar .colors-boxes .box:first-child {
				margin-left: 0;
			}

			.calendar .colors-boxes .box:last-child {
				margin-right: 0;
			}

			.calendar .colors-boxes .box .number {
				font-size: 35px;
				font-weight: bold;
			}

			.calendar .colors-boxes .box .dollars {
				font-size: 24px;
				font-weight: bold;
			}

			.calendar .colors-boxes .box .number,
			.calendar .colors-boxes .box .dollars {
				vertical-align: top;
			}

			.calendar .colors-boxes .box .description {
				font-size: 12px;
			}

			.calendar .colors-boxes .box .when {
				border-top: solid 1px #fff;
				padding: 10px 0px;
				font-size: 11px;
			}
			
			@media (max-width: 1280px) {
				
				.schedule .calendar .month-name{
					font-size:15.5px;
				}
				
				.schedule .calendar .month:nth-child(2) {
				    top:50px;
				}
				
				.schedule .calendar .month:nth-child(3) {
					 top:0px;
				 }
				 
				.schedule .calendar .month-name.bottom {
					 top:55px;
				 }
			}
			
			
			@media (max-width: 1024px) {
				
				.schedule .calendar .month-name{
					font-size:13.5px;
				}
				
				.schedule .calendar .month:nth-child(2) {
				    top:50px;
				}
				
				.schedule .calendar .month:nth-child(3) {
					 
				 }
				 
				.schedule .calendar .month-name.bottom {
					 top:75px;
				 }
			}
			
			

			@media (max-width: 767px) {
				.schedule .calendar td .day-number {
					font-size: 12px;
					top: 5px;
					left: 5px; 
				}

				.schedule .calendar td .price {
					bottom: 2px;
					right: 3px;
				}

				.schedule .calendar td .number {
					font-size: 15px;
				}

				.schedule .calendar td .dollars {
					font-size: 10px;
				}
				
				.schedule .calendar .month:nth-child(2) {
				    top:40px;
				}
				
				 .schedule .calendar .month:nth-child(3) {
				 }
				 
				 .schedule .calendar .month-name{
					font-size:13.5px;
				}
				
				.schedule .calendar .month-name.bottom {
					top:45px;
				}
				 
			}
			
			@media (max-width: 400px) {
				
				.schedule .calendar .month:nth-child(2) {
				    top:25px;
				}
				
				.schedule .calendar .month:nth-child(3) {
					 top:0px;
				 }
				 
				.schedule .calendar .month-name.bottom {
					top:30px;
				}
			}
