<script type="text/javascript">
        	
        	$(document).ready(function(){
	        	
	        	
	        	
	        	
	        	$('.node-body-area img').each(function(){
		        	var src = $(this).attr('src');
		        	var alt = $(this).attr('alt');
		        	var caption = $(this).data('caption');
		        	var align = $(this).data('align');
                    var width = $(this).attr('width');
                    var height = $(this).attr('height');
		        	
		        	
		        	console.log(align);
		        	if(!caption) {
			        	caption = "";
		        	}
		        	
		        	if(!align) {
			        	align = "center";
		        	}
		        	
		        	$(this).replaceWith( getFigureHTML(src, alt, caption, align, width, height) );
				});
	        	
	        	
	        	setTimeout(function(){
		        	$('[data-toggle="tooltip"]').tooltip();
		        	
		        	//setAudioEvents();
	        	}, 1000);
	        	
	        	$('[data-entity-type]').each(function(){
		        	var a_file = $(this).attr('href');
		        	//$(this).parent().html(createAudioHTML(a_file));
				});
        	});
        	
        	function getFigureHTML(src, alt, caption, align, width, height) {
	        	
	        	if(!caption) {
		        	caption = "";
	        	}
	        	
	        	align = "align-" + align;
	        	
	        	return "<figure role='group' class='" + align + "' style='width:" + width + "px; min-height:" + height + "px;'>" +
						    "<div class='relative-position'>" +
								"<img alt='' class='img-responsive' src='"+ src +"'>" +
								"<div data-toggle='tooltip' data-placement='left' title='' class='info-icon' data-original-title='"+ alt+ "'></div>" +
							"</div>" +
						    "<figcaption>" + caption + "</figcaption>" +
						"</figure>";
        	}
        	
</script>