<script type="text/javascript">
        	
        	$(document).ready(function(){
	        	
	        	
	        	
	        	
	        	$('.node-body-area img').each(function(){
		        	var src = $(this).attr('src');
		        	var alt = $(this).attr('alt');
		        	var caption = $(this).data('caption');
		        	var align = $(this).data('align');
                    var width = $(this).attr('width');
                    var height = $(this).attr('height');
                    var title = $(this).parent().attr('title');
		        	
		        	
		        	console.log(title);
		        	if(!caption) {
			        	caption = "";
		        	}
		        	
		        	if(!align) {
			        	align = "center";
		        	}

                    if (!title) {
                        title = "";
                        $(this).replaceWith( getFigureHTML(src, alt, caption, align, width, height, title) );
                    } else {
                        $(this).parent('a').replaceWith( getFigureHTML(src, alt, caption, align, width, height, title) );
                    }
				});
	        	
	        	
	        	setTimeout(function(){
		        	$('[data-toggle="tooltip"]').tooltip();
		        	
		        	//setAudioEvents();
	        	}, 1000);
	        	
	        	$('[data-entity-type]').each(function(){
		        	var a_file = $(this).attr('href');
		        	//$(this).parent().html(createAudioHTML(a_file));
				});
        	});
        	
        	function getFigureHTML(src, alt, caption, align, width, height, title) {
                var html = "";	        	

	        	if(!caption) {
		        	caption = "";
	        	}
	        	
	        	align = "align-" + align;
	        	
	        	html += "<figure role='group' class='" + align + "' style='width:" + width + "px; min-height:" + height + "px;'>";
                html += "<div class='relative-position'>";
                html += "<img alt='' class='img-responsive' src='"+ src +"'>";

                if (title){
				    html += "<div data-toggle='tooltip' data-placement='left' title='' class='info-icon' data-original-title='"+ title + "'></div>";
                }

				html += "</div>";
                html += "<figcaption>" + caption + "</figcaption>";
				html += "</figure>";

                return html;
        	}
        	
</script>