	<footer>
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-6 col-sm-12 map-image">
                    <div class="footer-detail">
                        <a href="{{front_page}}">
                        	<img src="{{front_page}}themes/tbtw/assets/footer/footer-logo@2x.png.png" alt="Site Logo" title="Eastern State: Terror Behind The Walls" width="60%" />
                        </a>
                        
                        <p class="underline"><a href="https://www.google.com/maps/place/Eastern+State+Penitentiary/" target="_blank">2027 Fairmount Avenue</a></p>
                        <p class="underline"><a href="https://www.google.com/maps/place/Eastern+State+Penitentiary/" target="_blank">Philadelphia, PA 19130</a></p>
                        <p class="underline"><a href="tel:2152363300" target="_blank">Phone: (215) 236-3300</a></p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 newsletter-signup">
                    <div class="footer-detail">
                        <h2>Stay Connected!</h2>

                        <!--<div class="form-area">
                            <label for="subscribe">Subscribe For Our Newsletter</label>
                            <ul class="list-inline">
                        		<li>
                        			<div class="form-group">
							    <input type="email" class="form-control email-text" id="subscribe" placeholder="Enter email address" style="width:290px;">
							    
							  </div>
                        		</li>
                        			<button type="submit" class="btn btn-white btn-subscribe">Subscribe</button>
                        		<li>
                        		
                        		
                        	</ul>
                        	<label class="error-newsletter" style="color:#DB322B !important;"></label>
                        	
                        	
						</div>-->
						
						<div class="form-area">
                            <label for="subscribe">Subscribe For Our Newsletter</label>
                            <label class="error-newsletter" style="color:#DB322B !important;"></label>
                            <div class="input-group">
							   <input type="email" class="form-control email-text" id="subscribe" placeholder="Enter email address">
							   <span class="input-group-btn">
							        <button class="btn btn-white btn-subscribe" type="button">Subscribe</button>
							   </span>
							</div>
							
                        </div>

                        <ul class="list-inline social-icons">

                            <li>
                                <a href="https://www.facebook.com/TerrorAtESP" target="_blank">
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="https://twitter.com/TerrorAtESP" target="_blank">
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/terroratesp/" target="_blank">
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>