<div class="press-contacts-container">
	<div class="row">
		<div class="col-md-4">
			<h3>Press Contacts</h3>
		</div>
		
		<div class="col-md-4">
			{{press_contact_1|raw}}
		</div>
		
		<div class="col-md-4">
			{{press_contact_2|raw}}
		</div>
	</div>	
</div>