
<main>


        <div class="subpage-hero-section">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        
                        <div class="subpage-hero-details press-hero">
                            <section>
                                <ol class="breadcrumb">
                                    <li><a href="#">Press Room</a></li>
                                    <li class="active"><a href="#">Video Library</a></li>
                                </ol>

                                <h1 class="subpage-title">Video Library</h1>
                            </section>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="main-content-subpages image-library-page">

            <div class="container-fluid">

                <div class="padded-box">
                    
                    <div class="main-item">
					
						<div class="row">
							<div class="col-md-6 col-sm-8 col-xs-10 col-centered">
								<div class="password-form">
									<p>
										The page you are trying to view is password protected. To obtain the password, 
										please email your name and media organization to Nicole Frankhouser at nf@easternstate.org.
									</p>
									
									<div class="form-group">
										<label class="error-message" style="color:#DB322B"></label>
										<input type="password" class="form-control password" placeholder="Enter password" autocomplete="off" /> <br />
										<button class="btn btn-red">Enter</button>
									</div>
								</div>
							</div>
						</div>
						
                        <div class="press-items" style="display:none;">
							<div class="row equalheights">
	                        
	                            {% for row in rows %}  
	                            
	                            	{%
					                	set row_classes = [
											default_row_class ? 'views-row',
										]
									%}
									
									{{ row.content }}
	                            {% endfor %}
	                            
	                        </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-outline btn-large btn-white load-more-btn" style="display:none;">
                                    View More
                                </button>
                            </div>
                        </div>

                    </div>
                    
                    {% include directory ~ '/inc/press-contact.html.twig' %}
                    

                </div>

            </div>


        </div>

    </main>
    
    <script type="text/javascript">
    	
    	$(document).ready(function(){
	    	$('.btn').click(function(){
		    	var val = $('.password').val();
		    	
		    	if(val == "yes") {
			    	$('.password-form').slideUp({
					    complete: function(){
					        setTimeout(function(){
					        	$('.press-items').css('display', 'block');
					        }, 300);
					    }
					});
		    	} else {
			    	$('.error-message').text("Incorrect password");
		    	}
	    	});
    	});
    	
    </script>
    
    <script type="text/javascript">
	
		$(function () {
			
		    $("div.press-item-li").slice(0, 9).show();
		    
		    if ($("div.press-item-li").length > 9) {
				$(".load-more-btn").show();
			}
			
		    $(".load-more-btn").on('click', function (e) {
		        e.preventDefault();
		        $("div.press-item-li:hidden").slice(0, 9).slideDown();
		        if ($("div.press-item-li:hidden").length == 0) {
		            $(".load-more-btn").fadeOut('slow');
		        }
		        $('html,body').animate({
		            scrollTop: $(this).offset().top
		        }, 1500);
		    });
		});
		
		$(document).ready(function() {
	
			$('a[data-toggle=modal], button[data-toggle=modal]').click(function () {
		  		var title = $(this).data('title');
		  		var thumbnail = $(this).data('thumbnail');
		  		var image = $(this).data('image');
		  		var description = $(this).data('desc');
		  		var codes = $(this).data('codes');
		  		var credit = $(this).data('credit');
		  		
		  		$('.modal-title').text(title);
		  		$('.modal-codes').text(codes);
		  		
		  		$('.code-text').val(codes);
		  		$('.site-name-text').val('Terror Behind the Walls');
		  		
		  		$('.modal-description').text(description);
		  		$('.modal-thumbnail').attr("src", thumbnail);
		  		$('.press-modal').data("source", image);
		  		$('.modal-credit').text(credit);
		  	});
		  	
		  	$('.btn-download').click(function(){
			  	var dLink = window.location.origin + $('.press-modal').data("source");
			  	window.open(dLink);	
			  //	location.reload();
		  	});
		  	
		  	$('#myImageModal').on('hidden.bs.modal', function () {
			  	//if($('.btn-download').is(':visible')) {
			  		$('#request-form-wrapper-id form').css('display', 'block');
			  		$('.btn-download').css('display', 'none');
			  	//}
		  	});
		});
</script>