
<main>

	<div class="subpage-hero-section">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    
                    <div class="subpage-hero-details generic-hero">
                        <section>
                            <ol class="breadcrumb">
                                <li><a href="#">Press Room</a></li>
                                <li class="active"><a href="#">Press Releases</a></li>
                            </ol>

                            <h1 class="subpage-title">Press Releases</h1>
                        </section>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="main-content-subpages listview-page">

        <div class="container-fluid">

            <div class="padded-box">

                <div class="row">

                    <div class="col-md-12">
                        
                        <ul class="list-unstyled">
                        
                        	{% for row in rows %}  
	                            
                            	{%
				                	set row_classes = [
										default_row_class ? 'views-row',
									]
								%}
								
								{{ row.content }}
                            {% endfor %}

                        </ul>

                    </div>
                </div>
                
                <div class="press-contacts-container">
                	<div class="row">
                		<div class="col-md-4">
                			<h3>Press Contacts</h3>
                		</div>
                		
                		<div class="col-md-4">
                			{{press_contact_1|raw}}
                		</div>
                		
                		<div class="col-md-4">
                			{{press_contact_2|raw}}
                		</div>
                		
                		
                	</div>	
                </div>

            </div>

        </div>


    </div>


     
</main>