@-webkit-keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; } 
}
@-moz-keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; } 
}
@-ms-keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; } 
}
@keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; } 
}


@-moz-keyframes flicker {
    0%   { opacity: 0.9 }
    20%  { opacity: 0.9 }
    30%  { opacity: 0.0 }
    40%  { opacity: 0.0 }
    50%  { opacity: 0.9 }
    100% { opacity: 0.9 }
}
@-webkit-keyframes flicker {
    0%   { opacity: 0.9 }
    20%  { opacity: 0.9 }
    30%  { opacity: 0.0 }
    40%  { opacity: 0.0 }
    50%  { opacity: 0.9 }
    100% { opacity: 0.9 }
}
@-ms-keyframes flicker {
    0%   { opacity: 0.9 }
    20%  { opacity: 0.9 }
    30%  { opacity: 0.0 }
    40%  { opacity: 0.0 }
    50%  { opacity: 0.9 }
    100% { opacity: 0.9 }
}
@keyframes flicker {
    0%   { opacity: 0.9 }
    20%  { opacity: 0.9 }
    30%  { opacity: 0.0 }
    40%  { opacity: 0.0 }
    50%  { opacity: 0.9 }
    100% { opacity: 0.9 }
}


@keyframes headline-animation-1 {
    0%  { 
        opacity: 1;
        transform: translate3d(0,0,0) rotate(0deg);
    }
    2%  {
        opacity: 0.9;
        transform: translate3d(-8px,-5px,0) rotate(1deg);
    }
    4%  {
        opacity: 0.4;
        transform: translate3d(5px,-6px,8px) rotate(3deg);
    }
    6%  {
        opacity: 0.9;
        transform: translate3d(5px,6px,0) rotate(0deg);
    }
    8%  {
        opacity: 0.1;
        transform: translate3d(-4px,2px,0) rotate(1deg);
    }
    10%  {
        opacity: 0.2;
        transform: translate3d(2px,8px,-5px) rotate(-3deg);
    }
    12%  {
        opacity: 1;
        transform: translate3d(0,0,0) rotate(0deg);
    }
}
@keyframes headline-animation-2 {
    0%  { 
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    18%  {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    20%  {
        opacity: 0.9;
        transform: translate3d(20px,-7px,0) scaleX(-1);
    }
    21%  {
        opacity: 0.2;
        transform: translate3d(23px,-8px,0) scaleX(-1.2);   
        filter: blur(4px);
    }
    22%  {
        opacity: 0.7;
        transform: translate3d(24px,-6px,0) scaleX(1);
        filter: blur(0px);
    }
    23%  {
        opacity: 1;
        transform: translate3d(22px,-6px,0) scaleX(-1);    
    }
    24%  {
        opacity: 0.7;
        transform: translate3d(23px,-7px,0) scaleX(1.2);
    }
    25%  { 
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes headline-animation-3 {
    0%  { 
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    3%  {
        opacity: 0.95;
        transform: translate3d(0,-3px,0);
    }
    4%  {
        opacity: 0.65;
        transform: translate3d(0,-6px,0);
        filter: blur(3px);
    }
    5%  {
        opacity: 0.9;
        transform: translate3d(0,-5px,0);
        filter: blur(1px);
    }
    6%  {
        opacity: 0.4;
        transform: translate3d(-1px,-7px,0);
    }
    6%  {
        opacity: 1;
        transform: translate3d(0,-6px,0);
    }
    7%  {
        opacity: 0.75;
        transform: translate3d(2px,-10px,0);
        filter: blur(2px);
    }
    8%  { 
        opacity: 1;
        transform: translate3d(0,0,0);
        filter: blur(0px);
    }
}

.headline-animation-1 {
    position: relative;
    animation: headline-animation-1 2s 5s 1;
}
.headline-animation-2 {
    position: relative;
    animation: headline-animation-2 2s 5s 1;
}
.headline-animation-3 {
    position: relative;
    animation: headline-animation-3 3s 3s 1;
}
