// Media Queries

@mixin screen-xxs {
  @media (#{$screen-xxs}) {
    @content;
  }
}

@mixin screen-xs {
  @media (#{$screen-xs}) {
    @content;
  }
}

@mixin screen-sm {
  @media (#{$screen-sm}) {
    @content;
  }
}

@mixin screen-md {
  @media (#{$screen-md}) {
    @content;
  }
}

@mixin screen-lg {
  @media (#{$screen-lg}) {
    @content;
  }
}

@mixin screen-xl {
  @media (#{$screen-xl}) {
    @content;
  }
}

@mixin screen-ltmd  {
  @media (#{$screen-ltmd}) {
    @content;
  }
}

@mixin screen-ltlg  {
  @media (#{$screen-ltlg}) {
    @content;
  }
}

@mixin screen-ltxl  {
  @media (#{$screen-ltxl}) {
    @content;
  }
}

@mixin screen-gtxs  {
  @media (#{$screen-gtxs}) {
    @content;
  }
}

@mixin screen-gtsm  {
  @media (#{$screen-gtsm}) {
    @content;
  }
}

@mixin screen-gtmd  {
  @media (#{$screen-gtmd}) {
    @content;
  }
}

@mixin scrollbars() {
  // For Google Chrome
  .scrollable-ul::-webkit-scrollbar {
      width:  14px;
      height: 18px;
  }

  .scrollable-ul::-webkit-scrollbar-thumb {
      height: 6px;
      background-color: rgba(0,0,0, 0.4);
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      -webkit-border-radius: 7px;
      -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
      transition: $transition;
      &:hover {
	      background-color: rgba(0, 0, 0, 0.7);
      }
  }

  .scrollable-ul::-webkit-scrollbar-track {
      background: transparent;
      border: 10px solid transparent;

  }

  .scrollable-ul::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
  }

}